@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
  :root:not([data-user-color-scheme]) {
    --main-color: #ee9ca7;
    --bg-color: #181c27;
    --bg-content-color: #232222;
    --bg-menu: #3e4b5e;
    --bg-tag-color: #696969;
    --bg-cat-color: #789;
    --bg-codeblock: #000;
    --bg-code: #3e4b5e;
    --body-color: rgba(255,255,255,0.8);
    --title-color: rgba(252,252,252,0.9);
    --border-color: rgba(255,255,255,0.1);
  }
  :root:not([data-user-color-scheme]) blockquote {
    border-left: 0.25em solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
  }
  :root:not([data-user-color-scheme]) .post__license {
    background-color: rgba(255,255,255,0.2);
  }
  :root:not([data-user-color-scheme]) .post__content img {
    opacity: 0.8;
    filter: brightness(0.8) contrast(1.2);
  }
  :root:not([data-user-color-scheme]) .post__content img:hover {
    opacity: 1;
    filter: none;
  }
  :root:not([data-user-color-scheme]) table tr:not(.code):not(.gutter):nth-child(2n) {
    background-color: #353535;
  }
}
[data-user-color-scheme="dark"] {
  --color-mode: 'dark';
  --main-color: #ee9ca7;
  --bg-color: #181c27;
  --bg-content-color: #232222;
  --bg-menu: #3e4b5e;
  --bg-tag-color: #696969;
  --bg-cat-color: #789;
  --bg-codeblock: #000;
  --bg-code: #3e4b5e;
  --body-color: rgba(255,255,255,0.8);
  --title-color: rgba(252,252,252,0.9);
  --border-color: rgba(255,255,255,0.1);
}
[data-user-color-scheme="dark"] blockquote {
  border-left: 0.25em solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
}
[data-user-color-scheme="dark"] .post__license {
  background-color: rgba(255,255,255,0.2);
}
[data-user-color-scheme="dark"] .post__content img {
  opacity: 0.8;
  filter: brightness(0.8) contrast(1.2);
}
[data-user-color-scheme="dark"] .post__content img:hover {
  opacity: 1;
  filter: none;
}
[data-user-color-scheme="dark"] table tr:not(.code):not(.gutter):nth-child(2n) {
  background-color: #353535;
}
